// CONFIG
include ../config/config.pug

<!DOCTYPE html>
<html class="js-html" lang="#{site_lang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)">

	// METATAGS
	if !localhost
		include ../layout/meta-tags.pug

	// FAVICONS

	// FONTS

	// ICONS

	// TITLE
	<title>#{site_title} – #{site_subtitle}</title>

	// CSS
	<link rel="stylesheet" href="#{site_url}/#{css_folder}#{version_css}">

	// GTM
	if !localhost
		<script async src="https://www.googletagmanager.com/gtag/js?id=#{google_id_analytics}"></script>
		<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '#{google_id_analytics}');</script>
</head>
<body class="js-body">
include ../layout/menu.pug



