// CONFIG
include ../config/config.pug

<!DOCTYPE html>
<html class="js-html" lang="#{site_lang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000" media="(prefers-color-scheme: light)">
	<meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)">

	// METATAGS
	include ../layout/meta-tags.pug

	// FAVICONS

	// FONTS

	// ICONS

	// TITLE
	<title>#{site_title} – #{site_subtitle}</title>

	// CSS
	<link rel="stylesheet" href="#{site_url}/#{css_folder}/#{version_css}">
</head>
<body class="js-body">



