<meta name="generator" content="program">
<meta name="rating" content="General">
<meta name="referrer" content="no-referrer">
<meta name="format-detection" content="telephone=no">

<meta name="application-name" content="Application Name">
<meta name="theme-color" content="#4285f4">
<meta name="description" content="#{site_description}">

// LINKS
<link rel="canonical" href="#{site_url}">
<link rel="me" href="https://google.com/profiles/thenextweb" type="text/html">
<link rel="me" href="mailto:name@example.com">
<link rel="me" href="sms:+15035550125">

// GOOGLE
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">
<meta name="google-site-verification" content="#{google_site_verification}">

// GEO TAGS
<meta name="ICBM" content="latitude, longitude">
<meta name="geo.position" content="latitude;longitude">
<meta name="geo.region" content="country[-state]">
<meta name="geo.placename" content="city/town">

// FACEBOOK
<meta name="facebook-domain-verification" content="#{facebook_domain_verification}">
<meta property="fb:app_id" content="#{facebook_app_id}">
<meta property="og:url" content="#{site_url}">
<meta property="og:type" content="website">
<meta property="og:title" content="#{site_title}">
<meta property="og:image" content="#{site_url}/#{share_image}">
<meta property="og:image:alt" content="#{site_description}">
<meta property="og:description" content="#{site_description}">
<meta property="og:site_name" content="#{site_title}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="">

// TWITTER
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="#{twitter_profile}">
<meta name="twitter:creator" content="#{twitter_profile}">
<meta name="twitter:url" content="#{site_url}">
<meta name="twitter:title" content="#{site_title}">
<meta name="twitter:description" content="#{site_description}">
<meta name="twitter:image" content="#{site_url}/#{share_image}">
<meta name="twitter:image:alt" content="#{site_description}">

// SCHEMA
<link rel="author" href="#">
<link rel="publisher" href="#">
<meta itemprop="name" content="#{site_title}">
<meta itemprop="description" content="#{site_description}">
<meta itemprop="image" content="#{site_url}/#{share_image}">
